* {
  box-sizing: border-box;
}

html {
  /* 10/16 * 100%, Make 1rem == 10px on typical browsers */
  font-size: 62.5%;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  font-size: 1.6rem;
  margin: 1.5rem;
}

input,
button {
  font-family: inherit;
}
